 /* ---- 💫 https://github.com/LinuxBeginnings 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #663E56;
active-foreground: #E3CED8;
normal-background: #100F12;
normal-foreground: #E3CED8;
urgent-background: #6B5FA1;
urgent-foreground: #E3CED8;

alternate-active-background: #5A3F5B;
alternate-active-foreground: #E3CED8;
alternate-normal-background: #100F12;
alternate-normal-foreground: #E3CED8;
alternate-urgent-background: #100F12;
alternate-urgent-foreground: #E3CED8;

selected-active-background: #6B5FA1;
selected-active-foreground: #E3CED8;
selected-normal-background: #6B5FA1;
selected-normal-foreground: #E3CED8;
selected-urgent-background: #6B5FA1;
selected-urgent-foreground: #E3CED8;

background-color: #100F12;
background: rgba(0,0,0,0.7);
foreground: #E3CED8;
border-color: #663E56;

color0: #39383A;
color1: #120D0D;
color2: #19140F;
color3: #432F44;
color4: #4D2F41;
color5: #514779;
color6: #84576C;
color7: #CFB1BF;
color8: #917C86;
color9: #181111;
color10: #211A14;
color11: #5A3F5B;
color12: #663E56;
color13: #6B5FA1;
color14: #B07490;
color15: #CFB1BF;


}

