# Ignore sensitive Git files
.gitconfig_local
credentials
*.p12
*.pem

# Ignore OS/Environment junk
.DS_Store
.env
.direnv/
node_modules/
.initial_startup_done

#ignore Wallpapers 
config/hypr/rofi/.current_wallpaper*
config/hypr/wallpaper_effects/*
config/hypr/rofi/wallust/colors-rofi.rasi
config/hypr/wallust/wallust-hyprland.conf
config/kitty/kitty-themes/01-Wallust.conf
config/hypr/workspaces.conf
config/hypr/UserConfigs/workspaces.lua
