# Ignore sensitive Git files
.gitconfig_local
credentials
*.p12
*.pem

# Ignore OS/Environment junk
.DS_Store
.env
.direnv/
node_modules/
.initial_startup_done
config/hypr/rofi/.current_wallpaper*
config/hypr/wallpaper_effects/.wallpaper_base*
config/hypr/wallpaper_effects/.wallpaper_current_eDP-1
